In [2]:
import pandas as pd

In [8]:
!cat examples/ex1.csv

9,10,11,12,foo

# read from fils

## read.csv()

In [9]:
df = pd.read_csv('examples/ex1.csv')

In [10]:
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

read_table()

In [3]:
pd.read_table('examples/ex1.csv', sep=',')

/Users/BirdFish/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead.
  """Entry point for launching an IPython kernel.

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

### file without a header row

In [5]:
!cat examples/ex2.csv

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

**assign default column names:**

In [6]:
pd.read_csv('examples/ex2.csv', header=None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

**specify names yourself:**

In [7]:
pd.read_csv('examples/ex2.csv', names=['a', 'b', 'c', 'd', 'message'])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

indicating index

In [8]:
names = ['a', 'b', 'c', 'd', 'message']

In [9]:
pd.read_csv('examples/ex2.csv', names=names, index_col='message')

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

### hierachical index

In the event that you want to form a hierarchical index from multiple columns, pass a list of column numbers or names:

In [10]:
!cat examples/csv_mindex.csv

key1, key2, value1, value2
one, a, 1, 2
one, b, 3, 4
one, c, 5, 6
one, d, 7, 8
two, a, 9, 10
two, b, 11, 12
two, c, 13, 14
two, d, 15, 16

In [16]:
parsed = pd.read_csv('examples/csv_mindex.csv', index_col=['key1', 'key2'])

In [17]:
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

### mixed delimiter

In [18]:
list(open('examples/ex3.txt'))

['            A         B         C\n',
 'aaa -0.264438 -1.026059 -0.619500\n',
 'bbb  0.927272  0.302904 -0.032399\n',
 'ccc -0.264273 -0.386314 -0.217601\n',
 'ddd -0.871858 -0.348382  1.100491\n']

In [19]:
result = pd.read_table('examples/ex3.txt', sep='\s+')

/Users/BirdFish/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead.
  """Entry point for launching an IPython kernel.

In [20]:
result

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491